{{ define "main"}}
<main>

     <Section class="membership">
      <div>
       <img src="/images/welcome.jpg"> 
      </div>
      <div id="struct">
          {{ with .Resources.GetMatch "history.md" }}    
          {{ .Content}}
          {{ end }}
    </div>
    </Section>

    <Section class="membership">
      <div>
       <img src="/images/welcome.jpg"> 
      </div>
      <div id="struct">
          {{ with .Resources.GetMatch "membershipstruct.md" }}    
          {{ .Content}}
    {{ end }}
    </div>
    </Section>
        
      <section class="board">
        <div class="memboard">
            <p>
              {{ with .Resources.GetMatch "management.md" }} 
               <img src="{{ .Params.management_img}}">   
              {{ .Content}}
             {{ end }}
            </p> 
         </div>
        
          <div class="memboard">
           <p>
            {{ with .Resources.GetMatch "secretariate.md" }}   
             <img src="{{ .Params.secretariate_img}}">  
            {{ .Content}}
            {{ end }}
         </p>
           
        </div>
      </section>
   
</main>
{{end}}