{{ define "main"}}
<main>

   {{ with .Resources.GetMatch "history.md" }}    
     <Section class="membership">
       <div id="struct">
          {{ .Content}}
       </div>

        <div>
          <img src="{{ .Params.history_img}}"> 
        </div>
    </Section>
     {{ end }}
    
    {{ with .Resources.GetMatch "membershipstruct.md" }} 
      <Section class="membership">
        <div>
        <img src="{{ .Params.membershipstruct_img}}"> 
        </div>
        <div id="struct">
            {{ .Content}}
        </div>
      </Section>
    {{ end }}
        
      <section class="board">
        <div class="memboard">
            <p>
              {{ with .Resources.GetMatch "management.md" }} 
               <img src="{{ .Params.management_img}}">   
              {{ .Content}}
              {{ end }}
            </p> 
         </div>
        
          <div class="memboard">
           <p>
            {{ with .Resources.GetMatch "secretariate.md" }}   
             <img src="{{ .Params.secretariate_img}}">  
            {{ .Content}}
            {{ end }}
         </p>
           
        </div>
      </section>
   
</main>
{{end}}