<footer>
  <div>
    <h4>Links to Primary Menu</h4>
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li><a href="/about">About Us</a></li>
      <li><a href="/partners">Partners</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>
  </div>

  <div>
    <h4>Contact us now</h4>
    {{ partial "SVG/location.svg" .}}
    <p>252 Makeni-Magburaka Highway, Makeni</p></a>

    {{ partial "SVG/email.svg" .}}
    <p id="email"> silnorf@silnorf.net</p></a>
  </div>
  <div class="sub-footer">
    <div class="container10">
      <div class="row1">
        <p>Copyright &copy;2020 SiLNoRF
          - Design By: <a rel="" href="https://www.linkcorp-sl.com" target="_blank">LINK Corporation Limited SL</a></p>
      </div>
    </div>
  </div>
</footer>